body
{
    background-color: black;
}
.title
{
    color: white;
    font-family: 'Nabla','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: gold;
}
.photos
{
    display: grid;
    border: 2px solid white;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    justify-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  
}
.photos img
{
    max-width: 400px;
    width: 400px;
    max-height: 500px;
}
.photos video
{
    max-width: 400px;
    width: 400px;
    max-height: 500px;
}